
body, html {
	background: url(../img/bg/body.png) top left repeat-x #f5f5f5;
	font-family:arial, tahoma, verdana;
	width: 951px;
  margin-top:0;
	margin-left: auto;
	margin-right: auto;
}


h1, h2, h3 {font-weight:normal;}
h2 {font-size:24px;}
h3 {font-size:16px;}
p  {font-size:12px;}





div#header {
	background: url(../img/bg/header.png) top left no-repeat;
	width:951px; 
  height:177px; 
  margin:50px 0 0 0;
	float:left;  
}

#header p {color:black; margin:20px 25px 0 30px; text-align:right;}

#header h1 {font-size:32px; color:#fff; margin:7px 25px 0 25px; padding:42px 0 58px 25px; background:url(../img/bg/top-blok.png) top left repeat-x; }





div#content {
	background: url(../img/bg/boddie.png) top left repeat-y;
  float:left;
  width:951px;
  margin:0;
  text-align:left;
  padding-bottom:50px;
}





div#left_panel {
	margin: 0 0 0 25px;
	width: 650px;
	float:left;
}

#left_panel h2 {color: #4c8807; margin:20px 0 10px 25px;}
#left_panel h3 {color: #00c; margin:20px 0 10px 25px;}
#left_panel p {text-align:justify; color: rgb(53,53,53); margin:10px 25px; line-height:18px;}

#left_panel a:link {color:rgb(102,0,204);}
#left_panel a:hover {color:rgb(255,0,0); text-decoration:none;}
#left_panel a:visited {color:rgb(102,0,204);}

#left_panel img {border:3px solid #000; margin:10px 0px 10px 25px;}

#left_panel ul, ol {font-size:12px; margin:15px; line-height:20px;}

#left_panel form#form1 {}





/* right_panel setting */
div#right_panel {  
	margin:0;
	width: 250px;
	float:left;
	border-left:1px solid rgb(210,210,210);
}

#right_panel h2 {color:rgb(210,210,210); margin:20px 0 10px 15px;}

#right_panel ul {color:#000; font-size:12px; margin:20px 15px 0 15px; padding:0; }
#right_panel li {list-style:none; padding:0 0 0 15px; margin:0; display:block; border-bottom:1px solid #d5d8da; background:url(../img/bg/arrow.gif) 10px 12px no-repeat;}
#right_panel li a {display:block; line-height:18px; text-decoration:none; color:#000;   padding:7px 5px 7px 20px; line-height:19px;}

#right_panel img {border:0; margin:20px 0px 10px 50px;}





/* bottom*/
div#bottom {
	background: url(../img/bg/bottom.png) top left no-repeat;
  float:left;
  width:951px;
  height:65px;
  margin:0;
  text-align:left;
}

#bottom p {
  margin:15px 25px 0 25px; background: rgb(53,53,53); text-align:center; color:#fff; padding:5px 0;}

